*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header {

    background: linear-gradient(rgb(233, 199, 199), #fff);
    height:100px;
    text-align: center;
    padding: 20px;
}    

.container {

    width: 100%;
    height: 900px;
    background-color: #ccc;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;
    flex-wrap:wrap;
    
}
.item__container {

    background-color:rgb(173, 173, 224);
    color: #000;
    font-size:3em;
    width: 200px;
    height: 300px;
    margin: 20px;
    display:flex;
    flex-direction:column;
       
}

.item__imagem {
    background-image: linear-gradient(red, blue,pink ,yellow);
    height: 120px;
    margin:30px;

}

.item__imagem__frase {

    font-size:15px;
    position:relative;
    width:100%;
    text-align: center;
    
}   
footer {

    background: linear-gradient(rgb(233, 199, 199), #fff);
    height:80px;
    text-align: center;
    padding: 30px;
    
}

